<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="diesel" class="com.spring.beans.DieselEngine"/>
    <bean id="petrol" class="com.spring.beans.PetrolEngine"/>
    <bean id="car" class="com.spring.beans.Car">
    	<constructor-arg ref="petrol"></constructor-arg>
    	<property name="eng" ref="diesel"></property>
    </bean>
    
    
    

</beans>